/* ----DEFAULT ELEMENT STYLING START---- */
html {

}

body {
  margin:0;
  padding:0;
  background:#fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 90;
  background:#000000;
}
/*
.navbar-expand-lg{
  width:100%;
}
*/
.banner{
  height: 200vh;
  width: 100%;
  background:'ML_image1.jpg';
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}

.imageNav-photo{
  width:100%;
  
}
.navbar-brand{
 background-position:center;
 
  color:#fff;
}
.nav-link{
  font-size:200;
  color:#fff;
}
